# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Dev
docker-compose.yml
maxmind/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# Benchmarks
bench_results/

# Rust
cdn-exporter/target/
cdn-exporter-polars/target/

# OS
.DS_Store

# Tmp
state/session_state.json.gz
